<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
        <!-- 开启springMVC的注解  处理器映射器  处理器适配器  参数绑定格式化工厂 -->
 	<mvc:annotation-driven></mvc:annotation-driven>
        <!--扫描注解  -->
        <context:component-scan base-package="com.sxm.*"></context:component-scan>
        
        <!--配置数据源  -->
        <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        	<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        	<property name="url" value="jdbc:mysql://127.0.0.1:3306/book?characterEncoding=utf-8"></property>
        	<property name="username" value="root"></property>
        	<property name="password" value="admin"></property>
          	<property name="maxActive" value="10" />
       		<property name="maxIdle" value="5" />           
        </bean>
        
        <!--配置sqlSessionFactory  -->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        	<property name="dataSource" ref="dataSource"></property>
        	<property name="configLocation" value="classpath:mybatis.xml"></property>               
        </bean>
        
        <!--配置mapper扫描器  -->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        	<property name="basePackage" value="com.sxm.dao"></property>
        	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>     
        </bean>
 </beans>